---
import Item from './Item.astro'

const products = [
{
      "id": 1,
      "title": "iPhone 15 Pro Max",
      "description": "iPhone forjado en titanio. Es el primer iPhone diseñado con titanio de calidad aeroespacial, la misma aleación que se usa en las naves espaciales enviadas a Marte. Este equipo no incluye cargador ni auriculares.",
      "price": 549,
      "discountPercentage": 12.96,
      "rating": 4.69,
      "stock": 94,
      "brand": "Apple",
      "category": "smartphones",
      "thumbnail": "https://tienda.antel.com.uy/razuna/assets/1/E6890FAAC3704676974DDF2CC1C5170C/img/944F6B868AF94B04B6200F61FC96BEE6/apple-iphone15-pro-max-1_944F6B868AF94B04B6200F61FC96BEE6.jpg",
      "images": [
        "https://tienda.antel.com.uy/razuna/assets/1/E6890FAAC3704676974DDF2CC1C5170C/img/A8903553879442B48D631912C73D1777/apple-iphone15-pro-max-2_A8903553879442B48D631912C73D1777.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/E6890FAAC3704676974DDF2CC1C5170C/img/1D3E13CB2D294908914B81545729E3D7/apple-iphone15-pro-max-3_1D3E13CB2D294908914B81545729E3D7.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/E6890FAAC3704676974DDF2CC1C5170C/img/8072F7B33752431B8D8508043148E600/apple-iphone15-pro-max-4_8072F7B33752431B8D8508043148E600.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/E6890FAAC3704676974DDF2CC1C5170C/img/529310715BC2484987FF08BC147B4CFD/apple-iphone15-pro-max-6_529310715BC2484987FF08BC147B4CFD.jpg"
      ]
    },
    {
      "id": 2,
      "title": "iPhone 15 Pro",
      "description": "iPhone forjado en titanio. El iPhone Pro más ligero diseñado hasta ahora. Sentirás la diferencia en cuanto lo saques de la caja. Este equipo no incluye cargador ni auriculares.",
      "price": 899,
      "discountPercentage": 17.94,
      "rating": 4.44,
      "stock": 34,
      "brand": "Apple",
      "category": "smartphones",
      "thumbnail": "https://tienda.antel.com.uy/razuna/assets/1/ADF8BF6582A54A8097F9356DA1ACAF27/img/D4526FD593ED411B91953A4D7802C9D3/apple-iphone15-pro-1_D4526FD593ED411B91953A4D7802C9D3.jpg",
      "images": [
        "https://tienda.antel.com.uy/razuna/assets/1/ADF8BF6582A54A8097F9356DA1ACAF27/img/98A5681138F048BDA06566E16689DEF6/apple-iphone15-pro-2_98A5681138F048BDA06566E16689DEF6.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/ADF8BF6582A54A8097F9356DA1ACAF27/img/77F52660963D44F6A070F2387F8E7E4F/apple-iphone15-pro-3_77F52660963D44F6A070F2387F8E7E4F.jpg"
      ]
    },
    {
      "id": 3,
      "title": "iPhone 15",
      "description": "Nueva cámara. Nuevo diseño. Nuevocionante. Este equipo no incluye cargador ni auriculares.",
      "price": 1249,
      "discountPercentage": 15.46,
      "rating": 4.09,
      "stock": 36,
      "brand": "Apple",
      "category": "smartphones",
      "thumbnail": "https://tienda.antel.com.uy/razuna/assets/1/2AFCAB772BB343C2B6E80898E11EF757/img/392D63B286DB4D95854E387B069E3C95/apple-iphone15-1_392D63B286DB4D95854E387B069E3C95.jpg",
      "images": [
        "https://tienda.antel.com.uy/razuna/assets/1/2AFCAB772BB343C2B6E80898E11EF757/img/02A2CB84BCFF430881BAD66938AC981F/apple-iphone15-2_02A2CB84BCFF430881BAD66938AC981F.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/2AFCAB772BB343C2B6E80898E11EF757/img/F3C98D11D0054F5CAD65D14529944F45/apple-iphone15-4_F3C98D11D0054F5CAD65D14529944F45.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/2AFCAB772BB343C2B6E80898E11EF757/img/DF51998AE0654C2AA18185F3E100DB9E/apple-iphone15-5_DF51998AE0654C2AA18185F3E100DB9E.jpg"
      ]
    },
    {
      "id": 4,
      "title": "iPhone 14 Pro",
      "description": "Innovadora cámara de 48 MP que logra un nivel de detalle deslumbrante. Ultrarápido chip A16 Bionic. Este equipo no incluye cargador ni auriculares. Compatible con eSIM.",
      "price": 280,
      "discountPercentage": 17.91,
      "rating": 4.3,
      "stock": 123,
      "brand": "Apple",
      "category": "smartphones",
      "thumbnail": "https://tienda.antel.com.uy/razuna/assets/1/D8E55769695443049335710E6EBAD677/img/D338374E183745779E2715DB23DB7214/iPhone14-pro-1_D338374E183745779E2715DB23DB7214.jpg",
      "images": [
        "https://tienda.antel.com.uy/razuna/assets/1/D8E55769695443049335710E6EBAD677/img/59B6301FCF9140C19678DFF25F352DA0/iPhone14-pro-2_59B6301FCF9140C19678DFF25F352DA0.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/D8E55769695443049335710E6EBAD677/img/7A14E92D173944C3BBD9AF4322EE75ED/iPhone14-pro-3_7A14E92D173944C3BBD9AF4322EE75ED.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/D8E55769695443049335710E6EBAD677/img/F22B773DDE2848CFB80DDC6D62DE0240/iPhone14-pro-4_F22B773DDE2848CFB80DDC6D62DE0240.jpg"
      ]
    },
    {
      "id": 5,
      "title": "iPhone 13",
      "description": "El superrápido chip A15 Bionic les da vida al modo Cine, a los Estilos Fotográficos, a Texto en Vivo y a muchas otras funcionalidades. iPhone 13 con su coprocesador Secure Enclave protege tu información personal. ",
      "price": 499,
      "discountPercentage": 10.58,
      "rating": 4.09,
      "stock": 32,
      "brand": "Apple",
      "category": "smartphones",
      "thumbnail": "https://tienda.antel.com.uy/razuna/assets/1/050F8815344A4115B5AEA0C960D995D2/img/61A794FE5D0745C1A8C3D21FA10503DA/apple-iphone-13-1_61A794FE5D0745C1A8C3D21FA10503DA.jpg",
      "images": [
        "https://tienda.antel.com.uy/razuna/assets/1/050F8815344A4115B5AEA0C960D995D2/img/7202B42313AD420391DD77D8F0A0C1C1/apple-iphone-13-2_7202B42313AD420391DD77D8F0A0C1C1.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/050F8815344A4115B5AEA0C960D995D2/img/D488EC974E334B1CA72DF951913416DF/apple-iphone-13-4_D488EC974E334B1CA72DF951913416DF.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/050F8815344A4115B5AEA0C960D995D2/img/887AB3E1A0A647EA8C5AFCDC17B37DC0/apple-iphone-13-5_887AB3E1A0A647EA8C5AFCDC17B37DC0.jpg"
      ]
    },
    {
      "id": 6,
      "title": "Samsung Galaxy S24 Plus",
      "description": "Te presentamos los nuevos smartphones que marcan la nueva pauta de la telefonía móvil, ahora con Galaxy AI. Épico, así de sencillo. No incluye cargador.",
      "price": 1749,
      "discountPercentage": 11.02,
      "rating": 4.57,
      "stock": 83,
      "brand": "Apple",
      "category": "smartphones",
      "thumbnail": "https://tienda.antel.com.uy/razuna/assets/1/1CD10025F943440AB20315A0AEF2C3F5/img/A427D6AA134D4E5B9D9619ABE64AD7F6/samsung-galaxy-s24-plus-1_A427D6AA134D4E5B9D9619ABE64AD7F6.jpg",
      "images": [
        "https://tienda.antel.com.uy/razuna/assets/1/1CD10025F943440AB20315A0AEF2C3F5/img/77515EB0A24D46C591E37627324A35DF/samsung-galaxy-s24-plus-3_77515EB0A24D46C591E37627324A35DF.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/1CD10025F943440AB20315A0AEF2C3F5/img/94227501F579477FAEA0F97E504A10C3/samsung-galaxy-s24-plus-4_94227501F579477FAEA0F97E504A10C3.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/1CD10025F943440AB20315A0AEF2C3F5/img/5B9B695A07ED45A8B43DC833EE0EB414/samsung-galaxy-s24-plus-6_5B9B695A07ED45A8B43DC833EE0EB414.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/1CD10025F943440AB20315A0AEF2C3F5/img/AB7DD38B497B46E085F85258ADA98D84/samsung-galaxy-s24-plus-2_AB7DD38B497B46E085F85258ADA98D84.jpg"
      ]
    },
    {
      "id": 7,
      "title": "Samsung Galaxy Z Flip 5",
      "description": "Tu mejor aliado para que puedas expresarte. Este equipo no incluye cargador.",
      "price": 1499,
      "discountPercentage": 4.15,
      "rating": 4.25,
      "stock": 50,
      "brand": "Samsung",
      "category": "smartphones",
      "thumbnail": "https://tienda.antel.com.uy/razuna/assets/1/534A9642A2364CE6941016DB31F75020/img/7BFCD8148B4241878F0DB7AF535F52C3/samsung-galaxy-z-flip5-1_7BFCD8148B4241878F0DB7AF535F52C3.jpg",
      "images": [
        "https://tienda.antel.com.uy/razuna/assets/1/534A9642A2364CE6941016DB31F75020/img/15E07DF5D2F547F89DB08F4A58A3BBFE/samsung-galaxy-z-flip5-2_15E07DF5D2F547F89DB08F4A58A3BBFE.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/534A9642A2364CE6941016DB31F75020/img/54DBACF4857B47B28D7CD30B4B962A1D/samsung-galaxy-z-flip5-3_54DBACF4857B47B28D7CD30B4B962A1D.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/534A9642A2364CE6941016DB31F75020/img/1DF5874DB3C74966AB0CA4E70F11C084/samsung-galaxy-z-flip5-4_1DF5874DB3C74966AB0CA4E70F11C084.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/534A9642A2364CE6941016DB31F75020/img/5E2D456825C9489E9A8AFF31A52D7700/samsung-galaxy-z-flip5-6_5E2D456825C9489E9A8AFF31A52D7700.jpg"
      ]
    },
    {
      "id": 8,
      "title": "Samsung Galaxy S24",
      "description": "Te presentamos los nuevos smartphones que marcan la nueva pauta de la telefonía móvil, ahora con Galaxy AI. Épico, así de sencillo. No incluye cargador.",
      "price": 1499,
      "discountPercentage": 10.23,
      "rating": 4.43,
      "stock": 68,
      "brand": "Samsung",
      "category": "smartphones",
      "thumbnail": "https://tienda.antel.com.uy/razuna/assets/1/878EDB278999461CAD045F63CBF34F96/img/0A283C7BAD144B85819F2C86CB4DA261/samsung-galaxy-s24-1_0A283C7BAD144B85819F2C86CB4DA261.jpg",
      "images": [
        "https://tienda.antel.com.uy/razuna/assets/1/878EDB278999461CAD045F63CBF34F96/img/297BCD127D0C4E96B739113B6A5DB59E/samsung-galaxy-s24-2_297BCD127D0C4E96B739113B6A5DB59E.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/878EDB278999461CAD045F63CBF34F96/img/1797335CD2C44EFBA0A65258B16BC369/samsung-galaxy-s24-3_1797335CD2C44EFBA0A65258B16BC369.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/878EDB278999461CAD045F63CBF34F96/img/49FC5996729842429A506DCE0387B855/samsung-galaxy-s24-4_49FC5996729842429A506DCE0387B855.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/878EDB278999461CAD045F63CBF34F96/img/F8D9A37B09244F6D8726399076EEFA9B/samsung-galaxy-s24-5_F8D9A37B09244F6D8726399076EEFA9B.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/878EDB278999461CAD045F63CBF34F96/img/2278FD9A193B45F5A03D3A44F72F94B2/samsung-galaxy-s24-6_2278FD9A193B45F5A03D3A44F72F94B2.jpg"
      ]
    },
    {
      "id": 9,
      "title": "Samsung Galaxy S23 Plus",
      "description": "Comparte momentos épicos. Este equipo no incluye cargador.",
      "price": 1099,
      "discountPercentage": 11.83,
      "rating": 4.54,
      "stock": 96,
      "brand": "Samsung",
      "category": "smartphones",
      "thumbnail": "https://tienda.antel.com.uy/razuna/assets/1/B337DE4572384B89B268EFB260FDDC74/img/89FFB43F6A254444BBBDB3B9E973D03B/samsung-galaxy-s23-plus-1_89FFB43F6A254444BBBDB3B9E973D03B.jpg",
      "images": [
        "https://tienda.antel.com.uy/razuna/assets/1/B337DE4572384B89B268EFB260FDDC74/img/20BD8EFE8CD947799559832A79D7A139/samsung-galaxy-s23-plus-2_20BD8EFE8CD947799559832A79D7A139.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/B337DE4572384B89B268EFB260FDDC74/img/DDEF26268E8B46DE8CC4C82A1726796B/samsung-galaxy-s23-plus-3_DDEF26268E8B46DE8CC4C82A1726796B.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/B337DE4572384B89B268EFB260FDDC74/img/80D5BDC881CD4E37A528DA81F2C14556/samsung-galaxy-s23-plus-4_80D5BDC881CD4E37A528DA81F2C14556.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/B337DE4572384B89B268EFB260FDDC74/img/6F910239907249ACB2E97422EC20170C/samsung-galaxy-s23-plus-5_6F910239907249ACB2E97422EC20170C.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/B337DE4572384B89B268EFB260FDDC74/img/C457818D48AB440686BA51A276399702/samsung-galaxy-s23-plus-6_C457818D48AB440686BA51A276399702.jpg"
      ]
    },
    {
      "id": 10,
      "title": "Samsung Galaxy S23 FE 5G",
      "description": "Lo épico comienza aquí. Con Corning® Gorilla® Glass 5 que blinda la parte delantera y trasera, el Galaxy S23 FE está diseñado para durar. Una clasificación IP68 significa que tu dispositivo es resistente al agua y al polvo para una mayor",
      "price": 1099,
      "discountPercentage": 6.18,
      "rating": 4.43,
      "stock": 89,
      "brand": "Samsung",
      "category": "smartphones",
      "thumbnail": "https://tienda.antel.com.uy/razuna/assets/1/89B7F029D973431A9AEDDD904A6B8E93/img/CFAD843D7FBC4BE0992CAD5663278F55/samsung-s23-fe-1_CFAD843D7FBC4BE0992CAD5663278F55.jpg",
      "images": [
        "https://tienda.antel.com.uy/razuna/assets/1/89B7F029D973431A9AEDDD904A6B8E93/img/9CE1FCD41B6445C29E604AA4D3DBD7D9/samsung-s23-fe-2_9CE1FCD41B6445C29E604AA4D3DBD7D9.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/89B7F029D973431A9AEDDD904A6B8E93/img/27A0EC8724BF4D97978DF6BE8F5B444A/samsung-s23-fe-3_27A0EC8724BF4D97978DF6BE8F5B444A.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/89B7F029D973431A9AEDDD904A6B8E93/img/C44388BF725743FB94E217E74B4E5B39/samsung-s23-fe-4_C44388BF725743FB94E217E74B4E5B39.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/89B7F029D973431A9AEDDD904A6B8E93/img/20F53C40B90F41869601E9D8E539E407/samsung-s23-fe-5_20F53C40B90F41869601E9D8E539E407.jpg"
      ]
    },
    {
      "id": 11,
      "title": "Samsung Galaxy S21 FE 5G",
      "description": "Dominá el juego de las selfies con la cámara frontal de 32 MP. Galaxy S21 FE 5G con batería de 4500 mAh y procesador de bajo consumo, tecnología 5G",
      "price": 13,
      "discountPercentage": 8.4,
      "rating": 4.26,
      "stock": 65,
      "brand": "Samsung",
      "category": "smartphones",
      "thumbnail": "https://tienda.antel.com.uy/razuna/assets/1/55CA3C98045A4AFDBF4687B40F72C1F6/img/976F43C147CA42E4A0AD794045B9A378/samsung-galaxy-s21-fe-5g-1_976F43C147CA42E4A0AD794045B9A378.jpg",
      "images": [
        "https://tienda.antel.com.uy/razuna/assets/1/55CA3C98045A4AFDBF4687B40F72C1F6/img/1D4D1BB9E6A943E7A72FD0A9DF60AC9B/samsung-galaxy-s21-fe-5g-2_1D4D1BB9E6A943E7A72FD0A9DF60AC9B.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/55CA3C98045A4AFDBF4687B40F72C1F6/img/9DCAA685FDC649F8B01B3D83E22FD15E/samsung-galaxy-s21-fe-5g-3_9DCAA685FDC649F8B01B3D83E22FD15E.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/55CA3C98045A4AFDBF4687B40F72C1F6/img/6C40A04ADB6248B7A6BD265F8EE316F5/samsung-galaxy-s21-fe-5g-4_6C40A04ADB6248B7A6BD265F8EE316F5.jpg",
        "https://tienda.antel.com.uy/razuna/assets/1/55CA3C98045A4AFDBF4687B40F72C1F6/img/8BFB910F855E43C7A566CC7D58A29488/samsung-galaxy-s21-fe-5g-6_8BFB910F855E43C7A566CC7D58A29488.jpg"
      ]
    },
    {
      "id": 12,
      "title": "HUAWEI Matebook D15",
      "description": "15.6'' IPS FHD Core i3-10110U 256GB 8GB RAM Cuerpo de Aluminio Lector Huella WIN10/11 Home Teclado EN ESPAÑOL Retroiluminado",
      "price": 539,
      "discountPercentage": 15.66,
      "rating": 4,
      "stock": 52,
      "brand": "Huawei",
      "category": "laptops",
      "thumbnail": "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/huawei-matebook-d15-53011twd-foto1--.jpg",
      "images": [
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/huawei-matebook-d15-53011twd-foto2--.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/huawei-matebook-d15-53011twd-foto3--.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/huawei-matebook-d15-53011twd-foto4.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/huawei-matebook-d15-53011twd-foto5.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/huawei-matebook-d15-53011twd-foto6.jpg"
      ]
    },
    {
      "id": 13,
      "title": "DELL Latitude",
      "description": "14'' FHD Core i7-1165G7 512GB M.2 SSD 8GB RAM Intel Iris Xe Graphics WIN11 PRO y Teclado EN ESPAÑOL",
      "price": 649,
      "discountPercentage": 8.14,
      "rating": 4.59,
      "stock": 61,
      "brand": "DELL",
      "category": "laptops",
      "thumbnail": "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/notebook-dell-latitude-3420-foto1-1700744607.jpg",
      "images": [
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/100x100/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/notebook-dell-latitude-3420-foto2-1700744609.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/notebook-dell-latitude-3420-foto3-1700744610.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/notebook-dell-latitude-3420-foto4-1700744612.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/notebook-dell-latitude-3420-foto6-1700744615.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/notebook-dell-latitude-3420-foto7-1700744616.jpg"
      ]
    },
    {
      "id": 14,
      "title": "Apple MacBook Air",
      "description": "M1 Octa Core Retina 13.3'' 256GB SSD 8GB RAM Touch ID - Space Gray",
      "price": 1.299,
      "discountPercentage": 15.6,
      "rating": 4.21,
      "stock": 114,
      "brand": "Apple",
      "category": "laptops",
      "thumbnail": "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/macbook-air-m1-256gb-foto-spacegray1.jpg",
      "images": [
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/macbook-air-m1-256gb-foto-spacegray3.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/macbook-air-m1-256gb-foto-spacegray4.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/macbook-air-m1-256gb-foto-spacegray5.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/macbook-air-m1-256gb-foto-spacegray6.jpg"
      ]
    },
    {
      "id": 15,
      "title": "Apple MacBook Air",
      "description": "3.6'' IPS Liquid Retina 256GB 8GB RAM Teclado EN ESPAÑOL - Oficial Apple Uruguay - Gris Medianoche",
      "price": 1.799,
      "discountPercentage": 10.99,
      "rating": 4.7,
      "stock": 105,
      "brand": "Apple",
      "category": "laptops",
      "thumbnail": "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-medianoche-foto1.jpg",
      "images": [
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-medianoche-foto2.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-medianoche-foto3.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-medianoche-foto4.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-medianoche-foto5.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-medianoche-foto6.jpg"
      ]
    },
    {
      "id": 16,
      "title": "Apple MacBook Air",
      "description": "2 13.6'' IPS Liquid Retina 256GB 8GB RAM Teclado EN ESPAÑOL - Oficial Apple Uruguay - Gris Espacial",
      "price": 1.799,
      "discountPercentage": 13.31,
      "rating": 4.83,
      "stock": 110,
      "brand": "Apple",
      "category": "laptops",
      "thumbnail": "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-espacial-foto1.jpg",
      "images": [
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-espacial-foto2.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-espacial-foto3.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-espacial-foto4.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-espacial-foto5.jpg",
        "https://d391ci4kxgasl8.cloudfront.net/fit-in/524x480/filters:fill(FFFFFF):quality(90):format(webp)/_img_productos/apple-macbook-air-m2-256gb-gris-espacial-foto6.jpg"
      ]
    }
]


---

<ul class=' grid grid-cols-1 gap-5 m-3 bg-red-100'>

  {
    products.map(({title, description, price, thumbnail})=> {
      return(
        <li> <Item title={title} description={description} price={price} thumbnail={thumbnail} /> </li>
      )
    })
  }

</ul>

